* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: sf ui display;
    font-style: normal;
    font-weight: 100;
    src: local('SF UI Display'), url(https://fonts.cdnfonts.com/s/14247/sf-ui-display-ultralight-58646b19bf205.woff) format('woff')
}

@font-face {
    font-family: sf ui display;
    font-style: normal;
    font-weight: 200;
    src: local('SF UI Display'), url(https://fonts.cdnfonts.com/s/14247/sf-ui-display-thin-58646e9b26e8b.woff) format('woff')
}

@font-face {
    font-family: sf ui display;
    font-style: normal;
    font-weight: 300;
    src: local('SF UI Display'), url(https://fonts.cdnfonts.com/s/14247/sf-ui-display-light-58646b33e0551.woff) format('woff')
}

@font-face {
    font-family: sf ui display;
    font-style: normal;
    font-weight: 500;
    src: local('SF UI Display'), url(https://fonts.cdnfonts.com/s/14247/sf-ui-display-medium-58646be638f96.woff) format('woff')
}

@font-face {
    font-family: sf ui display;
    font-style: normal;
    font-weight: 600;
    src: local('SF UI Display'), url(https://fonts.cdnfonts.com/s/14247/sf-ui-display-semibold-58646eddcae92.woff) format('woff')
}

@font-face {
    font-family: sf ui display;
    font-style: normal;
    font-weight: 700;
    src: local('SF UI Display'), url(https://fonts.cdnfonts.com/s/14247/sf-ui-display-bold-58646a511e3d9.woff) format('woff')
}

@font-face {
    font-family: sf ui display;
    font-style: normal;
    font-weight: 800;
    src: local('SF UI Display'), url(https://fonts.cdnfonts.com/s/14247/sf-ui-display-heavy-586470160b9e5.woff) format('woff')
}

@font-face {
    font-family: sf ui display;
    font-style: normal;
    font-weight: 900;
    src: local('SF UI Display'), url(https://fonts.cdnfonts.com/s/14247/sf-ui-display-black-58646a6b80d5a.woff) format('woff')
}

body,
a,
p {
    font-family: 'SF UI Display', sans-serif;
    color: #2F2F2F;
}

main {
    padding-bottom: 79px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.breadcrumbs-container {
    max-width: 1370px;
    padding: 0 25px;
    margin: 0 auto;
}

.breadcrumbs {
    color: #C0C0C0;
}

.breadcrumbs-container a {
    color: #C0C0C0;
}

.breadcrumbs span {
    margin: 0 14px;
}

a.current-page {
    color: #2F2F2F !important;
}

.main-content__wrap {
    max-width: 1370px;
    margin: 0 auto;
    margin-top: 46px;
    display: flex;
    justify-content: space-between;
    padding: 0 25px;
}

.breadcrumbs {
    margin-top: 29px;
}

.content-container {
    width: 72%;
}

.content {
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 30px;
    row-gap: 40px;
    column-gap: 20px;
}

.item {
    max-width: 290px;
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
}



.item:hover .add-card {
    opacity: 1;
}

.item-img {
    width: 100%;
    object-fit: cover;
}

.item img {
    width: 100%;
    background: radial-gradient(50% 30% at 50% 66%, rgba(0, 0, 0, 0.62) 0%, rgba(0, 0, 0, 0) 100%);
}

.sale {
    position: absolute;
    background-color: #A43037;
    color: #ffffff;
    font-size: 18px;
    padding: 7px 25px;
    margin: 20px 0 0 150px;
    text-transform: uppercase;
}

.item-title {
    font-size: 20px;
    margin-top: 17px;
}

.price-wrap {
    display: flex;
    justify-content: center;
    font-size: 19px;
    margin-top: 18px;
    column-gap: 21px;
}

.old-price {
    text-decoration: line-through;
    color: #949494;

}

.old-price span {
    color: #949494;
}

.add-card {
    border: none;
    margin-top: 27px;
    padding: 11px 0;
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    background-color: #2F2F2F;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.item:hover {
    margin-top: -44px;
    transition: margin-top 0.5s ease-in-out;
}

@media screen and (max-width: 575px) {
    .main-content__wrap {
        flex-direction: column;
    }

    .content-container {
        width: 100%;
    }

    .content {
        padding: 0;
    }

    .add-card {
        display: block;
    }

    .item {
        width: 100%;
        margin-top: 40px;
    }
}