@import url('https://fonts.cdnfonts.com/css/sf-ui-display');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'SF UI Display', sans-serif;
    color: #2F2F2F;
}

main {
    padding-bottom: 79px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.breadcrumbs-container {
    max-width: 1370px;
    padding: 0 25px;
    margin: 0 auto;
}

.breadcrumbs {
    color: #C0C0C0;
}

.breadcrumbs-container a {
    color: #C0C0C0;
}

.breadcrumbs span {
    margin: 0 14px;
}

a.current-page {
    color: #2F2F2F !important;
}

.main-content__wrap {
    max-width: 1370px;
    margin: 0 auto;
    margin-top: 46px;
    display: flex;
    justify-content: space-between;
    padding: 0 25px;
}

.breadcrumbs {
    margin-top: 29px;
}

.content-container {
    width: 77.64%;
}

.content {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 30px;
}

.item {
    min-width: 294px;
    display: flex;
    flex-direction: column;
    text-align: center;
    cursor: pointer;
}

.item:hover .add-card {
    display: block;
}

.item img {
    background: radial-gradient(50% 30% at 50% 66%, rgba(0, 0, 0, 0.62) 0%, rgba(0, 0, 0, 0) 100%);
}

.sale {
    position: absolute;
    background-color: #A43037;
    color: #ffffff;
    font-size: 18px;
    padding: 7px 25px;
    margin: 20px 0 0 170px;
    text-transform: uppercase;
}

.item-title {
    font-size: 20px;
    margin-top: 17px;
}

.price-wrap {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    font-size: 19px;
    margin-top: 18px;

}

.old-price {
    text-decoration: line-through;
    color: #949494;
    margin-left: 21px;
}

.old-price span {
    color: #949494;
}

.add-card {
    border: none;
    margin-top: 27px;
    padding: 11px 0;
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    background-color: #2F2F2F;
    display: none;
}

@media screen and (max-width: 575px) {
    .main-content__wrap {
        flex-direction: column;
    }

    .content-container {
        width: 100%;
    }

    .content {
        padding: 0;
    }

    .add-card {
        display: block;
    }

    .item {
        width: 100%;
        margin-top: 40px;
    }
}